@charset "UTF-8";
.logo {
  height: 45px;
}
.logo a img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(-4px 4px 4px white);
  animation: shadowPulse 3s infinite alternate;
}
@keyframes shadowPulse {
  0% {
    filter: drop-shadow(-4px 4px 4px white);
  }
  100% {
    filter: drop-shadow(-6px 6px 6px rgb(0, 0, 0));
  }
}

.logo-side {
  height: 60px;
}
.logo-side a img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(-4px 4px 4px white);
}

.f-logo .title {
  font-size: 30px;
}

.gradientAnimated {
  background: linear-gradient(30deg, #002FFF, #9900FF, #ff0000, #002FFF, #9900FF, #ff0000, #002FFF, #9900FF, #ff0000, #002FFF);
  /* больше повторений = более плавный цикл */
  background-size: 600% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Refault";
  font-weight: normal;
  animation: gradientMove 15s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
.menu-area {
  background: #002fff;
  background: linear-gradient(142deg, rgb(0, 47, 255) 0%, rgb(0, 47, 255) 10%, rgb(153, 0, 255) 90%, rgb(153, 0, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002FFF", endColorstr="#9900FF", GradientType=0);
}
.menu-area::after {
  background: rgb(0, 47, 255);
  bottom: -17px;
}
.menu-area::before {
  background: rgb(153, 0, 255);
  bottom: -17px;
}

.header-icon a {
  height: 100%;
  background: transparent;
}

.navbar-wrap > ul > li.active > a {
  color: #ffffff;
}
.navbar-wrap > ul > li:hover > a {
  color: #ffffff;
}
.navbar-wrap ul li a {
  padding: 23px 23px;
}
.navbar-wrap ul li a::after {
  background: rgba(0, 0, 0, 0.4117647059);
}
.navbar-wrap ul li a::before {
  background: #ffffff;
  left: -7px;
}
.navbar-wrap ul li .sub-menu {
  left: -8px;
}

.header-action ul .header-sine {
  background: transparent;
  border: 2px solid white;
}
.header-action ul .header-sine::before {
  display: none;
}
.header-action ul .header-sine a {
  color: white;
}
.header-action ul .header-sine a i {
  box-shadow: 0 0 0 transparent;
  background: transparent;
  border: 2px solid white;
}
.header-action ul .header-sine a i::after, .header-action ul .header-sine a i::before {
  color: white;
}
.header-action ul .header-sine a::before {
  display: none;
}
.header-action ul .header-sine a:hover {
  color: white;
}

.just-gamer-img .main-img {
  filter: drop-shadow(-4px 4px 4px red);
}

.navbar-wrap ul li .sub-menu {
  border: none;
  background: #5f11f9;
}

main {
  background: black;
}

.area-bg {
  background-image: url(../images/area_bg.jpg);
  background-repeat: repeat-y;
  background-size: 40%;
  background-position: center;
  position: relative;
}
.area-bg::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 0;
  box-shadow: 0 0 30px 25px black;
  z-index: 1;
}

.live-stream-bg {
  background-image: none;
}

.live-stream-bg::before {
  content: none;
}

.shape {
  opacity: 0.8;
}

.winner-wrap {
  background: rgba(31, 32, 41, 0.6705882353);
}

.just-gamer-content-box {
  background: rgba(31, 32, 41, 0.6705882353);
}

.shop-date span {
  color: #ff0000;
}

.shop-share a {
  color: #ff0000;
}
.shop-share a:hover {
  border-color: #ff0000;
}

.shop-content-top .price {
  -webkit-clip-path: polygon(75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0);
          clip-path: polygon(75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0);
  background: #1f1f28;
  width: 70px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-content-top .price span {
  color: #ff0000;
}

.btn {
  background: #ff0000;
}

.shop-content-bottom .shop-wishlist a {
  color: #ff0000;
}
.shop-content-bottom .shop-wishlist a:hover {
  color: #ffffff;
  background: #ff0000;
}

.scroll-top {
  background: red;
}